<td>
    <input [ngClass]="product.available ? 'true' : 'false' "
    type="text" value="{{product.productName}}"
    size="15">
</td>
<td>
    <input [ngClass]="product.available ? 'true' : 'false' "
    type="text" value="{{product.productType}}"
    size="10">
</td>
<td>
    <input [ngClass]="product.available ? 'true' : 'false' "
    type="text" value="{{product.productBrand}}"
    size="10">
</td>
<td>
    <input [ngClass]="product.available ? 'true' : 'false' "
    type="text" value="{{product.productDescription}}"
    size="10">
</td>
<td>
    <input [ngClass]="product.available ? 'true' : 'false' "
    type="number" value="{{product.productPrice}}"
    size="10">
</td>
<td>
    <input [ngClass]="product.available ? 'true' : 'false' "
    type="number" value="{{product.productQuantity}}"
    size="10">
</td>
<td>
    <input [ngClass]="product.available ? 'true' : 'false' "
    type="number" value="{{product.unitsOnOrder}}"
    size="10">
</td>
<td>
    <input [ngClass]="product.available ? 'true' : 'false' "
    type="number" value="{{product.reOrderLevel}}"
    size="10">
</td>
<td>
    <input [ngClass]="product.available ? 'true' : 'false' "
    type="text" value="{{product.available}}"
    size="10">
</td>
<td>
    <button class="save">Save</button>
</td>