.mainform{
    width: 60%;
    margin: auto;
}

#checkbox{
    -webkit-transform: scale(1.5);
    margin-left: 10px;
    margin-right: 10px;
}

.orderbutton{
    width: 30%;
    float: right;
    margin-bottom: 20px;
}

.backbutton{
    width: 30%;
    float: left;
}

.rows{
    width: 10%;
    padding-left: 50px;
}

.firstcolumn{
    padding-bottom: 50px;
}