<div class="form-horizontal mainform">
    <div class="form-group">
        <h1>Products in cart</h1>
        <div>
        <table>
            <tr class="columns firstcolumn">
                <td class="rows"><b>Product name</b></td>
                <td class="rows"><b>Product type</b></td>
                <td class="rows"><b>Product brand</b></td>
                <td class="rows"><b>Product price/pc</b></td>
                <td class="rows"><b>Pieces in cart</b></td>
            </tr>
            <tr class="columns" *ngFor="let product of orderedProducts">
                <td class="rows">{{product.productName}}</td>
                <td class="rows">{{product.productType}}</td>
                <td class="rows">{{product.productBrand}}</td>
                <td class="rows">{{product.productPrice | currency:"USD" : true: "1.2-2"}}</td>
                <td class="rows">{{product.unitsOnOrder}}</td>
            </tr>
        </table>
        </div><br>
        <h1>Delivery informations</h1>
        <label class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <label class="form-control">{{user.userName}}</label>
        </div>
        <label class="col-sm-2 control-label">E-mail</label>
        <div class="col-sm-10">
            <label class="form-control">{{user.email}}</label>
        </div>
        <label class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
            <label class="form-control">{{user.phone}}</label>
        </div>
        <label class="col-sm-2 control-label">Country</label>
        <div class="col-sm-10">
            <label class="form-control">{{user.country}}</label>
        </div>
        <label class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
            <label type="text" class="form-control">{{user.city}}</label>
        </div>
        <label class="col-sm-2 control-label">Region</label>
        <div class="col-sm-10">
            <label type="text" class="form-control">{{user.region}}</label>
        </div>
        <label class="col-sm-2 control-label">PostalCode</label>
        <div class="col-sm-10">
            <label type="text" class="form-control">{{user.postalCode}}</label>
        </div>
        <label class="col-sm-2 control-label">Street & number</label>
        <div class="col-sm-10">
            <label type="text" class="form-control">{{user.address}}</label>
        </div>
    </div>
    <h5><input type="checkbox" id="checkbox" [(ngModel)]="checked" [checked]="checked==true">
    If your delivery address different than your home address please mark this box
and give me your details above*:</h5>
    <h6>
        *Please fill out the above form carefully, because you won't change the details later.
    </h6>
    <div class="form-group">
        <label for="country" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="country" placeholder="What is your country?" [(ngModel)]="deliverycountry">
        </div>
    </div>
    <div class="form-group">
        <label for="city" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="city" placeholder="What is your city name?" [(ngModel)]="deliverycity">
        </div>
    </div>
    <div class="form-group">
        <label for="region" class="col-sm-2 control-label">Region</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="region" placeholder="What is your region?" [(ngModel)]="deliveryregion">
        </div>
    </div>
    <div class="form-group">
        <label for="postalcode" class="col-sm-2 control-label">Postal Code</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="postalcode" placeholder="What is your postal code?" [(ngModel)]="deliverypostalcode">
        </div>
    </div>
    <div class="form-group">
        <label for="streetandstreetnumber" class="col-sm-2 control-label">Street & number</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="streetandstreetnumber" placeholder="What is your street and street number?" [(ngModel)]="deliveryaddress">
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block backbutton" (click)='onBack()'><< Back</button>
    <button class="btn btn-lg btn-primary btn-block orderbutton" (click)="orderAddToDatabase()">Next >></button>
</div>
