<div>
    <h2>Dear Merchant!</h2>
    <p>Welcome to you personal space, where you can easily manage your own products.</p>
    <p>Change any of your products detail, as you wish. When you feel satisfied with it,
        click the save button!</p>
    <p>How does availability work, you may ask, it couldn't get any simpler.</p>
    <ul>
        <li>Yes means: Your product will be visible on the main page, so others can buy it.</li>
        <li>No means: Your product won't be visible on the main page, so noone can buy it.</li>
    </ul>
</div>

<div class="col-md-3 btn-container">
    <a routerLink="/merchant">
        <!--btn btn-lg btn-primary btn-block-->
        <button class="btn btn-lg btn-block bg-success" type="submit">
            + New product
        </button>
    </a>
</div>
<!-- Product table - START -->
<div class="productList">
    <table class="table table-inverse">
        <thead>
            <th>Product Name:</th>
            <th>Type:</th>
            <th>Brand:</th>
            <th>Description:</th>
            <th>Price:</th>
            <th>Available quantity:</th>
            <th>On order:</th>
            <th>Reorder level:</th>
            <th>Available:</th>
            <th></th>
        </thead>

        <tbody>
            <tr [ngClass]="product.available ? 'bg-success' : 'bg-danger' "
                *ngFor="let product of products" [product]="product" app-merchantselector>
            </tr>
        </tbody>
    </table>
</div>
<!-- Product table - END -->
