<div id="login-component" class="bg-faded py-5 h-100">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <br>
        <br>
        <h1 class="pi-item">SIGN IN</h1>
        <div class="col-md-12 bg-warning text-lowercase text-info text-left py-1" id="warning">
          <ul class="list-inline my-1">
            <li class="list-inline-item"><i class="fa fa-window-close" aria-hidden="true"></i></li>
            <li class="list-inline-item">WARNING: </li>
            <li class="list-inline-item">E-mail or password incorrect!</li>
          </ul>
        </div>

        <div class="form-signin">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input [(ngModel)]="email" type="email" id="inputEmail" class="form-control"
            placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input [(ngModel)]="password" type="password" id="inputPassword" class="form-control"
            placeholder="Password" required>
          <button id="loginButton" (click)="sendClicked()"
            class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
            </div>
          </div>
        </div>
</div>
