.panel {
  margin: 0;
  padding: 0;
}

table {
  margin-bottom: 20px;
}

.cart {
  width: 115%;
  min-height: 300px;
  max-height: auto;
  padding-bottom: 50px;
  position: relative;
  margin-bottom: 10px;
}

.cart a {
  text-decoration: none;
  color: #00b0eb;
}

.cart a:hover {
  text-decoration: underline;
  color: #337ab7;
}

.cart ul {
  margin-bottom: 30px;
  padding: 0;
}

.cart li {
  list-style-type: none;
}

.cart p {
  margin: 0 10px 0 0;
  display: inline-block;
}

.button {
  background-color: #00b0eb;
    border: none;
    color: white;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 3px;
    cursor: pointer;
}

.button:hover {
  background-color: #337ab7;
}

.panel-footer {
  background-color: #337ab7;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
}

.panel-footer p {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 20px;
}