<!-- Test Cart - Start -->
<div class="shoppingCart">
	<div class="cart-header">
		<p>Shopping Cart</p>
	</div>
	<div class="row" *ngFor="let product of cartService.orderedProducts">
		<div class="col-md-4 name">
			<a href="#"><p>{{product.productName}}</p></a>
		</div>
		<div class="col-md-4 quantity">
			<div class="q">
				<button class="button">
					<span class="glyphicon glyphicon-minus"></span>
				</button>
				<p>{{product.unitsOnOrder}}</p>
				<button class="button">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
		</div>
		<div class="col-md-4 price">
			<p>{{product.productPrice | currency:"USD" : true:"1.2-2"}}</p>
		</div>
	</div>
	<div class="cart-footer">
		<p>Total price: {{cartService.totalPrice | currency:"USD" : true:"1.2-2"}}</p>
	</div>
</div>
<!-- Test Cart - End -->

<!-- Shopping Cart - Start
<div class="panel panel-primary cart">
	<div class="panel-heading text-center">
		<h4>Shopping cart</h4>
	</div>
	<div class="panel-body">
		<table *ngFor="let product of cartService.orderedProducts">
			<tr>
				<td><p>Product name:</p></td>
				<td>
					<a href="#">{{product.productName}}</a>
				</td>
			</tr>
			<tr>
				<td>Quantity:</td>
				<td>
					<button class="button"
						(click)="decreaseQuantity(product);
						subtractFromTotalPrice(product.productPrice);
						checkQuantity(product, product.unitsOnOrder)">
						<span class="glyphicon glyphicon-minus"></span>
					</button>
					<span class="quantity">{{product.unitsOnOrder}}</span>
					<button class="button"
						(click)="increaseQuantity(product);
						addToTotalPrice(product.productPrice)">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</td>
			</tr>
			<tr>
				<td>Price:</td>
				<td>{{product.productPrice | currency:"USD" : true:"1.2-2"}}</td>
			</tr>
		</table>
	</div>
	<div class="panel-footer">
		<p>Total price: {{cartService.totalPrice | currency:"USD" : true:"1.2-2"}}</p>
	</div>
</div>

<div class="btn btn-info order" (click)='onOrder()'>Order</div>
<! Shopping Cart - End -->