
<div class="form-group">
    <label class="control-label col-sm-3" for="productName">Product Name:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="productName" placeholder="Enter product name" ngControl="productName" [(ngModel)]= 'product.productName' required>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3" for="productType">Product Type:</label>
    <div class="col-sm-9"> 
      <select type="text" class="form-control" id="productType" placeholder="Select product type" ngControl="productType" [(ngModel)]= 'product.productType' required>
          <option value="Sex toy">Sex toy</option>
          <option value="Luxury">Luxury</option>
          <option value="Clothing">Clothing</option>
          <option value="Drugs">Drugs</option>
          <option value="Electronics">Electronics</option>
          <option value="Hand tools">Hand tools</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3" for="productBrand">Product Brand:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="productBrand" placeholder="Enter product brand" ngControl="productBrand" [(ngModel)]= 'product.productBrand'required>
    </div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3" for="productDescription">Enter a description:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="productDescription" placeholder="Enter description here" ngControl="productDescription" [(ngModel)]= 'product.productDescription'required>
    </div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3" for="productPrice">Product Price:</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="productPrice" placeholder="Enter product price" ngControl="productPrice" [(ngModel)]= 'product.productPrice' required>
    </div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3" for="productQuantity">Product Quantity:</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="productQuantity" placeholder="Enter initial product quantity" ngControl="productQuantity" [(ngModel)]= 'product.productQuantity' required>
    </div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-3" for="productReOrderLevel">Product Re-Order level:</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="productReOrderLevel" placeholder="Enter product re-order level" ngControl="productReOrderLevel" [(ngModel)]= 'product.ReOrderLevel' required>
    </div>
  </div>
<div class="form-group">
    <label class="control-label col-sm-3" for="productPicture">Upload a product picture:</label>
    <div class="col-sm-9">
      <input type="file" class="form-control" id="productPicture" formenctype="multipart/form-data" ngControl="productPicture" [(ngModel)]= 'product.imageUrl' required>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-offset-3 col-sm-9">
      <div class="btn btn-primary pull-right" (click)="onSubmit()">Submit</div>
    </div>
  </div>
