<nav class="navbar navbar-expand-md navbar-light bg-faded">
    <div class="container">
      <a class="navbar-brand" routerLink="/welcome" id="navbar-brand-logo">Emezen</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" id="nav-item-home">
            <a class="nav-link" routerLink="/products">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" id="nav-item-signin">
            <a class="nav-link" (click)="userButtonClicked()" routerLink="{{userButtonUrl}}">{{userButtonText}}</a>
          </li>
          <li class="nav-item" id="nav-item-signup">
            <a class="nav-link" routerLink="/register">Sign up</a>
          </li>
          <li class="nav-item" id="nav-item-about">
            <a class="nav-link" routerLink="/mp">MP</a>
          </li>
          <li class="nav-item" id="nav-item-about">
            <a class="nav-link" routerLink="/rolemanagement">Role management</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
<div id="content">
  <router-outlet></router-outlet>
</div>

<!-- Footer element -->
<footer class="footer">
  <div class="social">
    <a href="https://github.com/Vajni/Coolshop-project-Frontend-end" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
  </div>
  <div class="container">
    <p>
      <span>&copy;</span>
      All rights reserved!
    </p>
  </div>
</footer>
<!-- Footer element end -->