/*:host(.pm-details) {
    display: flex;
}

.panel {
    width: 80%;
    margin-right: 20px;
}

.filter-bar {
    margin-bottom: 20px;
}*/

.wrapper {
    overflow: hidden;
}

.product-container {
    width: 65%;
    float: left;
    margin: 0;
    border: 1px solid #00b0eb;
}

.header {
    background-color: #00b0eb;
    padding: 15px;
}

.header h2 {
    color: white;
    margin: 0;
    padding: 0;
}

.header p {
    color: white;
    margin: 0;
    padding: 0;
}

.image {
    margin: 0;
    padding: 15px;
}

.image img {
     height: 300px;
     width: 400px;
}

.item {
    margin: 0;
    margin-left: 15px;
    padding: 15px;
}

.item-details {
    margin-bottom: 15px;
}

.item p {
    margin: 0;
    padding: 0;
}

.cart {
    margin-left: 70%;
    position: fixed;
    top: 190px;
    width: 300px;
}

button {
    background-color: #474747;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
}

button:hover {
    background-color: #1f1f1f;
}

.back {
    margin: 0 15px 15px 15px;
}

.img-responsive{
    border: 0.5px solid black;
}