<div class="panel panel-primary">
  <div class="panel-heading text-center">
    <h4>{{pageTitle}}</h4>
  </div>
  <div class="panel-body">

    <!-- Start of - filter-bar -->
    <div class="filter-bar">
      <div class="row">
        <div class="col-md-4">
          <h4>Search product:</h4>
        </div>
        <div class="col-md-4">
          <h4>Search supplier:</h4>
        </div>
        <div class="col-md-4">
          <h4>Search type:</h4>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <input type="text" [(ngModel)] = "listFilterProduct" placeholder="Product"/>
        </div>
        <div class="col-md-4">
          <input type="text" [(ngModel)] = "listFilterBySupplier" placeholder="Supplier"/>
        </div>
        <div class="col-md-4">
          <input type="text" [(ngModel)] = "listFilterByType" placeholder="Type"/>
        </div>
      </div>
    </div>
    <!-- End of - filter-bar -->

  <div class="table-responsive">
    <table class="table" *ngIf="products && products.length">
      <thead>
        <tr>
          <th>
            <button class="btn btn-primary" (click)="toggleImage()">
              {{showImage ? "Hide" : "Show"}} image</button>
          </th>
          <th>Product</th>
          <th>Type</th>
          <th>Supplier</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products | productFilterByProduct: listFilterProduct | productFilterBySupplier : listFilterBySupplier | productFilterByType : listFilterByType">
        <!-- This container is filtering out Drugs and Sex toys from the products-->
        <ng-container *ngIf="product.productType != 'Sex toy' && product.productType != 'Drugs'">
        <td>
          <img *ngIf="showImage"
              src={{product.imageName}} title={{product.productName}}
              [style.width.px]="imageWidth"
              [style.margin.px]="imageMargin">
        </td>
        <td><a [routerLink] = "['/product', product.productId]">
          {{product.productName}}</a></td>
        <td>{{product.productType}}</td>
        <td>{{product.productBrand}}</td>
        <td><b>{{product.productPrice | currency:"USD" : true: "1.2-2"}}</b></td>
        <td>{{product.productQuantity}}</td>
        <td>
              <button class="btn btn-primary"
              (click)="checkIfAdded(product);
                       addToTotalPrice(product.productPrice)">
                       Add to cart!
              </button>
        </td>
        </ng-container>
      </tr>
      </tbody>
    </table>
   </div>
  </div>
</div>
<pm-cart></pm-cart>
