.carousel-inner > .item > img {
  width:800px;
  height:600px;
}

.carousel{
    margin: auto;
    width:800px;
    height:600px;
}

h2{
  text-align: center;
}

.carousel-caption{
  background: rgba(0, 0, 0, 0.45);
  border-radius: 20px;
}